<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleDisplayName</key>
	<string>왁타버스 뮤직</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WaktaverseMusicwithNaver</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(NAVER_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WaktaverseMusicwithGoogle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(WM_URI_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>youtube</string>
		<string>youtubemusic</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>[선택권한] 카메라 촬영을 하려면 권한 승인이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>[선택권한] 앨범 사진을 첨부 하거나, 저장하려면 권한 승인이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>[선택권한] 앨범 사진을 첨부 하거나, 저장하려면 권한 승인이 필요합니다.</string>
	<key>Secrets</key>
	<dict>
		<key>BASE_DEV_URL</key>
		<string>$(BASE_DEV_URL)</string>
		<key>BASE_PROD_URL</key>
		<string>$(BASE_PROD_URL)</string>
		<key>CDN_DOMAIN_URL</key>
		<string>$(CDN_DOMAIN_URL)</string>
		<key>GOOGLE_CLIENT_ID</key>
		<string>$(GOOGLE_CLIENT_ID)</string>
		<key>GOOGLE_URL_SCHEME</key>
		<string>$(GOOGLE_URL_SCHEME)</string>
		<key>NAVER_APP_NAME</key>
		<string>$(NAVER_APP_NAME)</string>
		<key>NAVER_CONSUMER_KEY</key>
		<string>$(NAVER_CONSUMER_KEY)</string>
		<key>NAVER_CONSUMER_SECRET</key>
		<string>$(NAVER_CONSUMER_SECRET)</string>
		<key>NAVER_URL_SCHEME</key>
		<string>$(NAVER_URL_SCHEME)</string>
		<key>WMDOMAIN_APP</key>
		<string>$(WMDOMAIN_APP)</string>
		<key>WMDOMAIN_ARTIST</key>
		<string>$(WMDOMAIN_ARTIST)</string>
		<key>WMDOMAIN_AUTH</key>
		<string>$(WMDOMAIN_AUTH)</string>
		<key>WMDOMAIN_CHARTS</key>
		<string>$(WMDOMAIN_CHARTS)</string>
		<key>WMDOMAIN_CREDIT</key>
		<string>$(WMDOMAIN_CREDIT)</string>
		<key>WMDOMAIN_FAQ</key>
		<string>$(WMDOMAIN_FAQ)</string>
		<key>WMDOMAIN_IMAGE</key>
		<string>$(WMDOMAIN_IMAGE)</string>
		<key>WMDOMAIN_LIKE</key>
		<string>$(WMDOMAIN_LIKE)</string>
		<key>WMDOMAIN_NOTICE</key>
		<string>$(WMDOMAIN_NOTICE)</string>
		<key>WMDOMAIN_NOTIFICATION</key>
		<string>$(WMDOMAIN_NOTIFICATION)</string>
		<key>WMDOMAIN_PLAYLIST</key>
		<string>$(WMDOMAIN_PLAYLIST)</string>
		<key>WMDOMAIN_PRICE</key>
		<string>$(WMDOMAIN_PRICE)</string>
		<key>WMDOMAIN_SEARCH</key>
		<string>$(WMDOMAIN_SEARCH)</string>
		<key>WMDOMAIN_SONGS</key>
		<string>$(WMDOMAIN_SONGS)</string>
		<key>WMDOMAIN_TEAM</key>
		<string>$(WMDOMAIN_TEAM)</string>
		<key>WMDOMAIN_USER</key>
		<string>$(WMDOMAIN_USER)</string>
		<key>WM_APP_ID</key>
		<string>$(WM_APP_ID)</string>
		<key>WM_UNIVERSALLINK_DOMAIN</key>
		<string>$(WM_UNIVERSALLINK_DOMAIN)</string>
		<key>WM_UNIVERSALLINK_TEST_DOMAIN</key>
		<string>$(WM_UNIVERSALLINK_TEST_DOMAIN)</string>
		<key>WM_URI_SCHEME</key>
		<string>$(WM_URI_SCHEME)</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
